<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">    
    
    <link rel="stylesheet" href="{% static 'posts/home.css' %}">
    <title>Document</title>
</head>
<header>
      <nav class="navbar">
        <a href="home.html">{% load static %} <img class="circle" src="{% static "users/media/logo.svg" %}" alt="1"/></a>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/posts/postsHome">Browse Charities</a></li>
            <li><a href="/posts/addPost">Post your Charity</a></li>
            <li><a href="/users/choice">Login/Register</a></li>      
          </ul>
        </div>
      </nav>
      </header>
      <body>
        <h1 class="big">BROWSE CHARITIES.</h1>
    <button class="submit-btn"> <a href = "/posts/postsHome0">
      Environment Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome1">
      Education Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome2">
      Child Care Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome3">
      Healthcare Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome4">
      Animal Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome5">
      Domestic Violence Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome6">
      Homeless Services Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome7">
      Nutrition Charities
    </a></button>

    <br>

    <button class="submit-btn"> <a href = "/posts/postsHome8">
      Military Veterans Charities
    </a></button>
</body>
</html>