<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>posts</h1>

    {% for post in object_list %} 
        <p><strong>title:</strong></p>{{ post.title }}
        <p><strong>charity name:</strong> </p>{{ post.charity }}
        <p><strong>description:</strong> </p>{{ post.description }}
        <p><strong>charity email:</strong> </p>{{ post.charity_email }}
        <p><strong>charity website</strong> </p>{{ post.charity_website }}
        <p><strong>donation goal:</strong> </p>{{ post.donation_goal }}
        <br>
        <hr>
    {% endfor %}
</body>
</html>