<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="background_styles.css">
    <link rel="stylesheet" href="{% static 'posts/home.css' %}">
    <title>Document</title>
</head>
<body>
  <header>
    <div class="heading">
        <nav class="navbar">
          <a href="index.html">{% load static %} <img class="circle" src="{% static "users/media/logo.svg" %}" alt="home"/></a>
          <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <div class="navbar-links">
            <ul>
              <li><a href="/posts/postsHome">Browse Charities</a></li>
              <li><a href="/posts/addPost">Post your Charity</a></li>
              <li><a href="/users/choice">Login/Register</a></li>      
            </ul>
          </div>
        </nav>
    </div>
    </header>
    <h1 class="big">MILITARY VETERAN CHARITIES</h1>
    <div class="allposts">
    {% for post in object_list %} 
        {% if post.charity_type == 'MV' %}
            <div class="post" style="height:600px;">
            <div class="one"><p><strong>title:</strong></p><div class="info">{{ post.title }}</div></div>
            <p><strong>charity name:</strong> </p><div class="info">{{ post.charity }}</div>
            <p><strong>description:</strong> </p><div class="info">{{ post.description }}</div>
            <p><strong>charity email:</strong> </p><div class="info">{{ post.charity_email }}</div>
            <p><strong>charity website:</strong> </p><div class="info">{{ post.charity_website }}</div>
            <p><strong>donation goal:</strong> </p><div class="info">{{ post.donation_goal }}</div>
            </div>
            <br>
        {% endif %}
    {% endfor %}
    </div>
</body>
</html>