body {
    margin: 0;
    background-color: #EDE8EC;
    font-family: 'Oswald';
 }
 
 header::after {
    content: '';
    display: table;
    clear: both;
 }
 
 .navbar {
    display: flex;
    position: relative;
    align-items: center;
    color: #5E4B56;
    justify-content: space-between;
 }
 
 .navbar-links ul {
    display: flex;
    margin-top: -69px;
    list-style: none;
    flex-direction: row;
    display: flex;
 }
 
 
 .navbar-links li a {
    display: block;
    text-decoration: none;
    padding-right: 85px;
    color:#5E4B56;
    text-transform: lowercase;
    font-size: 28px;
 }
 
 .navbar-links ul a:hover {
    color: #5E4B56;
 }
  
 .navbar-links ul a::before {
    content: '';
    display: block;
    background-color: #5E4B56;
    height: 5px;
    top: 60;
    width: 0%;
    transition: all ease-in-out 250ms;
 }
  
 nav a:hover::before {
    width: 100%;
 }
 
 .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    margin-top: 20px;
 }
 
 .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color:#5E4B56;
    border-radius: 10px;
 }
 
 @media (max-width: 950px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
 
    .toggle-button {
        display: flex;
    }
 
    .navbar-links {
        display: none;
        width: 100%;
    }
 
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
 
    .navbar-links ul li {
        text-align: center;
    }
 
    .navbar-links.active {
        display: flex;
    }
 }

 .ti {
   font-size: 12px;
 }
 
 img.circle {
    width: 220px;
    margin-left: 35px;
    margin-top: -55px;
 }

 .block {
   background-color: #5E4B56;
   padding-top: 170px;
   padding-bottom: 50px;
   margin-top: -80px;
   width: 430px;
   height: 430px;
   float: left;
 }


 h2 {
   color: #B1B695;
   font-size: 60px;
   text-align: center;
   margin-left: 80px;
 }

 .logo {
   width: 70px;
   padding-left: 10px;
   position: relative;
 }

   h4 {
   color:#EDE8EC;
   font-size: 25px;
   text-transform: lowercase;
   font-weight: 200;
   text-align: center;
   margin-top: -30px;
   margin-left: -5px;
 }

.logo , h2 {
   vertical-align: middle;
   display: inline-block;

}

.sign {
   width: 85px;
   margin-left: 300px;
   margin-top: -40px;
}

h3 {
   color: #5E4B56;
   text-transform: lowercase;
   font-weight: 400;
   font-size: 30px;
   margin-left: 890px;
   margin-top: -5px;
}


.field-1, .field-2, .field-3, .field-4 {
    color: #5E4B56;
    font-size: 22px;
    font-weight: 200;
    display:inline-block;
    padding-left: 40px;
    padding-right: 40px;
 }

 .field-3 {
   margin-right: 60px;
 }
 
 .submit-btn {
    align-items: center;
   background-color: #B1B695;
   border-radius: 16px;
   height: 50px;
   width: 300px;
   border-width: 0;
   box-sizing: border-box;
   cursor: pointer;
   display: inline-flex;
   flex-direction: column;
   font-family: 'Oswald';
   font-size: 23px;
   font-weight: 430;
   color: #5E4B56;
   justify-content: center;
   text-align: center;
   text-decoration: none;
   transform: translate3d(0, 0, 0);
   transition: all 150ms;
   text-transform: lowercase;
   margin-left: 20px;
 }
 
 .submit-btn:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
  }
  
  .submit-btn:active {
    outline: 0;
  }
  
  .submit-btn:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
  }
 
 input {
    font-family: "Oswald";
    font-weight: 100;
    outline: 0;
    background: #f2f2f2;
    border: 0.5px solid #5E4B56;
    padding: 15px;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    width: 300px;
    margin-top: -20px;
 }
 
 .options {
    font-size: 18px;
    color: #5E4B56;
    margin-left: 350px;
    display: inline-block;
 }
 
 .jog {
    display: inline-block;
    font-size: 18px;
    color: #5E4B56;
  }
 
 .best {
    text-align: center;
 }

.formstyle {
    margin-left: 500px;
    color: #5E4B56;
}

.addpostform {
   margin-top: -60px;
    margin-left:500px;
    color: #5E4B56;
    
}

.pic-1 {
   float: left;
}

.newstyle {
   margin-top: 50px;
}

.info {
   color: #EDE8EC;
}

.one {
   color: #EDE8EC;
}

.update {
   text-align: center;
   background-color: #5E4B56;
   width: 50%;
   margin: auto;
   font-size: 20px;

}

.updatepost {
   margin-top: -100px;
}